version: '3.8'

services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "6000:6000"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./deploy/certs:/etc/nginx/certs:ro
      - ./logs:/var/log/nginx:rw
    depends_on:
      - fungame
    networks:
      - default

networks:
  default:
    name: fungame_net

